
#about, 
{
  padding-top: 60px;
  padding-bottom: 80px;
}

.main-about,
.main-contact {
  height: 65vh;
}

.overlay {
  background:rgba(0,0,0,0.7 );
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
  overflow: hidden;
}

#home {
    background-size: cover;
    background-position: center center;
    color: #99c99c;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    position: relative;
    text-align: center;
}


.main-about {
  background: url('../images/about-bg.jpg') no-repeat;
}


/*---------------------------------------
   About section              
-----------------------------------------*/

#about .col-md-6 {
  padding-top: 22px;
  padding-bottom: 32px;
}

#about .col-md-6 img {
  padding: 22px 0px 22px 22px;
}

#about .col-md-4 {
  padding-bottom: 32px;
}

#about .col-md-4 img {
  padding-top: 12px;
}

/* Back top */
.go-top {
  background-color: #ffffff;
  box-shadow: 1px 1.732px 12px 0px rgba( 0, 0, 0, .14 ), 1px 1.732px 3px 0px rgba( 0, 0, 0, .12 );
  transition : all 1s ease;
  bottom: 2em;
  right: 2em;
  color: #333;
  font-size: 24px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border-radius: 100%;
}

.go-top:hover {
    background: #bfba55;
    color: #ffffff;
}


/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/

@media (max-width: 980px) {

  .main-about,
  .main-single-post,  
  .main-gallery,
  .main-contact {
    height: 35vh;
  }

}


@media (max-width: 768px) {

  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 26px;
  }

  #about .col-md-6 img {
    padding-left: 0px;
  }

}


@media (max-width: 650px) {

  h1 {
    font-size: 42px;
  }

  #about{
    padding-top: 60px;
    padding-bottom: 60px;
  }

}

